@{
    var icons = new string[] { "fa fa-envelope fa-fw", "fa fa-user fa-fw", "fa fa-wrench fa-fw" };
    var index = 1;
}
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            @foreach (var menu in Model.Menu.Items)
            {
                if (menu.Items == null || menu.Items.Count == 0)
                {
                    <li>

                        <a href="@menu.Href"><i class="@icons[index % 3]"></i>@menu.Text</a>
                    </li>

                }
                else
                {
                    <li>
                        <a href="#"><i class="@icons[index % 3 ]"></i> @menu.Text  <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            @foreach (var subMenu in menu.Items)
                            {
                                <li>
                                    <a href="@subMenu.Href">@subMenu.Text</a>
                                </li>
                            }
                        </ul>
                    </li>
                }
                index++;
            }
        </ul>
    </div>
</div>
